##### Newest test

In [1]:
import cola
import pandas as pd
import joblib
import numpy as np
import dice_ml
import dataset

Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)

In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
dataset = dataset.GermanCreditDataset()
df = dataset.get_dataframe()

> DATA

In [4]:
data = cola.Data(dataset=df, target_name='Risk')

> MODEL

In [5]:
lgbmclassifier = cola.Model(model_path='LGBMClassifier.pkl', backend='sklearn')

>COLA

In [6]:
ACE_generator = cola.COLA(ml_model=lgbmclassifier, data=data, counterfactual_algorithm="dice", policy_name="CF_OTMatch", Avalues_method="max", limited_actions=5)

In [7]:
factual, ce, ace = ACE_generator.generate_ace_counterfactual()

----LGBMClassifier.pkl model has been loaded----

100%|██████████| 4/4 [00:00<00:00, 12.17it/s]

---- x_counterfactual has already been generated ----
---- y_counterfactual has already been generated ----

In [8]:
factual

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,25,0,2,2,0,1,1371,24,1,1
1,35,1,2,1,1,1,691,12,1,1
2,29,1,2,1,1,1,6887,36,3,1
3,42,0,2,1,1,2,3804,36,5,1

In [9]:
ce

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,29,1,2,1,1,0,6108,36,3,0
1,42,0,2,1,4,2,7673,36,5,0
2,67,0,2,2,0,1,6359,24,1,0
3,35,0,2,1,1,1,2289,12,1,0

In [10]:
ace

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,25,0,2,2,0,0,1371,24,1,0
1,35,1,2,1,1,1,2289,12,1,0
2,42,1,2,1,4,1,6887,36,3,0
3,67,0,2,1,1,2,3804,36,5,0