##### Newest test

In [1]:
import cola
import pandas as pd
import joblib
import numpy as np
import dice_ml
import dataset

Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)

In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
dataset = dataset.GermanCreditDataset()
df = dataset.get_dataframe()

> DATA

In [4]:
data = cola.Data(dataset=df, target_name='Risk')

> MODEL

In [5]:
lgbmclassifier = cola.Model(model_path='LGBMClassifier.pkl', backend='sklearn')

>COLA

In [16]:
ACE_generator = cola.COLA(ml_model=lgbmclassifier, data=data, counterfactual_algorithm="dice", policy_name="CF_OTMatch", Avalues_method="max", limited_actions=5)

In [19]:
factual, ce, ace = ACE_generator.generate_action_constrained_counterfactual()

----LGBMClassifier.pkl model has been loaded----

100%|██████████| 4/4 [00:00<00:00,  7.23it/s]

---- x_counterfactual has already been generated ----
---- y_counterfactual has already been generated ----

In [8]:
factual

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,26,1,2,1,1,1,4370,42,5,1
1,28,1,2,1,1,0,2169,18,0,1
2,28,0,2,1,2,2,2278,18,1,1
3,37,0,2,2,1,1,7685,48,0,1

In [9]:
ce

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,26,1,2,0,1,1,4370,22,5,1
1,37,0,2,2,1,1,7685,17,0,0
2,28,1,2,1,2,0,2169,35,0,0
3,41,0,2,1,2,2,2278,42,1,0

In [10]:
ace

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,26,1,2,1,1,1,4370,22,5,1
1,28,1,2,1,2,0,2169,35,0,0
2,41,0,2,1,2,2,2278,18,1,0
3,37,0,2,2,1,1,7685,17,0,0