In [5]:
from test_dataset import GermanCreditDataset, HotelBookingsDataset

#### 1.Import data

In [ ]:
dataset = GermanCreditDataset()
df = dataset.get_dataframe()
df.head(3)

In [6]:
dataset_heloc = HotelBookingsDataset()
df_heloc = dataset_heloc.get_dataframe()
df_heloc.head(3)

d:\Github-desktop\COLA\test_dataset\hotel_bookings.py:123: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[column].fillna(median_val, inplace=True)

   hotel  lead_time  ...  total_of_special_requests  is_canceled
0      1        342  ...                          0            0
1      1        737  ...                          0            0
2      1          7  ...                          0            0

[3 rows x 30 columns]

#### 2.Start training

In [7]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [9]:
# Assume 'Risk' is the label column, and other columns are the features
X = df_heloc.drop(columns=['is_canceled'])
y = df_heloc['is_canceled']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the LGBMClassifier
model = LGBMClassifier()

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.4f}')

[LightGBM] [Info] Number of positive: 35253, number of negative: 60259
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004057 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1409
[LightGBM] [Info] Number of data points in the train set: 95512, number of used features: 29
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.369095 -> initscore=-0.536101
[LightGBM] [Info] Start training from score -0.536101
Accuracy: 0.8791

#### 3. Load trained model

In [ ]:
import joblib
joblib.dump(model, 'lgbm_GremanCredit.pkl')

In [10]:
import joblib
joblib.dump(model, 'lgbm_hotelbooking.pkl')

['lgbm_hotelbooking.pkl']